/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  color: var(--themes-main-color);
  background-color: var(--themes-bg-color);
  background-image: repeating-linear-gradient(var(--gradient) 0 2px, transparent 2px 4px), 
  repeating-linear-gradient(90deg, var(--gradient) 0 2px, transparent 2px 4px),
  linear-gradient(var(--linear-gradient) 10%);
  background-size: cover;
  font-variation-settings: 'wght' var(--main-font-weight);
}

.header {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--themes-bg-color);
  font-family: var(--accent-font);
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  border: 2px solid var(--themes-main-color, #000);
  margin-block: 100px;

}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  padding-block-start: 20px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-block: 25px;
  padding-inline-start: 18px;
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  text-transform: inherit;
  position: relative;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  inline-size: 100%;
  block-size: 2px;
  background-color: var(--themes-main-color);
  transform: scaleX(0);
  transform-origin: left top;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  width: 16px;
  height: 13px;
  position: absolute;
  left: -16px;
  bottom: 2px;
  animation: play alternate 0.5s ease-in-out infinite;
}

.content {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  background-color: var(--themes-bg-color);
  border: 2px solid var(--themes-main-color);
}

.content-title {
  font-size: 18px;
  font-style: normal;
  font-weight: var(--accent-font-weight);
  line-height: normal;
  padding: 5px 10px;
}

.content-card {
  display: flex;
  position: relative;
  overflow: hidden; 
  outline: 2px solid var(--themes-main-color);
}

.picture {
  inline-size: 100%;
  border: 2px solid var(--themes-main-color);
}

.filter-1 {
  filter: grayscale(80%);
}

.filter-2 {
  filter: saturate(350%)
}

.filter-3 {
  filter: hue-rotate(30deg);
}

.filter-4 {
  filter: invert(80%);
}

.filter-5 {
  filter: sepia(90%);
}

.filter-6 {
  filter: blur(10px);
}

.filter-7 {
  filter: hue-rotate(90deg) blur(2px) contrast(60%);
}

.decor {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: -1px 0 var(--themes-bg-color), 0 1px var(--themes-bg-color), 1px 0 var(--themes-bg-color), 0 -1px var(--themes-bg-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--theme-bg-color)) or (-webkit-text-stroke: 1px var(--themes-bg-color))) {
  .decor {
      -webkit-text-stroke: 1px var(--themes-bg-color);
      text-stroke: 1px var(--themes-bg-color);
      text-shadow: none;
  }
} 

.description {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 27px 25px 25px 25px;
}

.text {
  
  font-size: 18px;
  font-style: normal;
  font-weight: var(--main-font-weight);
  line-height: 21px;
}

.like {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.sparks {
  opacity: 0;
}

.card__icon-button {
  block-size: 34px;
  background-color: var(--themes-bg-color);
  border: none;
  padding: unset;
  margin-block-start: 2px;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--themes-main-color);
  transition: transform 0.3s ease;
}

.button {
  background-color: var(--themes-bg-color);
  border: 2px solid var(--themes-main-color);
  position: relative;
  overflow: hidden; 
  cursor: pointer;
  z-index: 0;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  font-family: var(--accent-font);
  font-size: 14px;
}

.card__like-button::before,
.save::before,
.close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--themes-main-color);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
  transform: translateX(-100%);
}

.card__like-button:hover::before,
.save:hover::before,
.close:hover::before {
  transform: translate(0);
}

.save:focus, 
.card__like-button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
}

.contour {
  fill: var(--themes-main-color);
}

.button__text {
  color: var(--mix-color);
  mix-blend-mode: difference;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
}

.save {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  inline-size: clamp(19.125rem, 18.4428rem + 2.9108vw, 21.0625rem);
  padding: 15px;
  margin-block: 50px 100px;
  
}

.floppy {
  position: relative;
  inline-size: 21px;
  block-size: 21px;
}

.floppy-1 {
  inline-size: 39px;
  color: var(--themes-main-color);
  align-self: center;
}

dialog {
  inline-size: 357px;
  block-size: 193px;
  padding: 30px;
  background-color: var(--themes-bg-color);
  border: 2px solid var(--themes-main-color);
}

.dialog-content {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 20px;
  padding-block-end: 28px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog-title {
  color: var(--themes-main-color);
  font-size: 14px;
  font-style: normal;
  font-weight: var(--main-font-weight);
  line-height: 150%;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 14px;
}

.close {
  inline-size: 293px;
  block-size: 38px;
  text-transform: uppercase;
}

@media (width <= 376px) {
  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}